.dashboard {
  @include desktop {
    width: 102rem;
    padding: $margin-desktop;
  }
  &__title {
    color: $primary;
  }

  table {
    @include card;
    border-collapse: collapse;
    width: 100%;
    background-color: #f7f7f7;
    overflow: hidden;
  }
  td {
    text-align: center;
  }
  td,
  th {
    border-bottom: 1px solid white;
    padding: 1rem;
  }
  tr:hover {
    background-color: #ddd;
    color: black;
  }
  th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: $primary;
    color: white;
  }
  &__more {
    width: 2rem;
  }

  &__pet {
    &__info {
      @include card;
      background-color: $primary;
      color: white;
      padding: 2rem;
      margin: 2rem 0;
    }
    &__summary {
      text-align: center;
      margin: 0;
    }
  }
}
