@mixin tablet {
    @media (min-width: 768px) {
      @content;
    }
  }
  
  @mixin desktop {
    @media (min-width: 1280px) {
      @content;
    }
  }

  @mixin button {
    background-color: $primary;
    border-style: initial;
    border-radius: 5px;
    padding: 1rem 2rem;
    font-weight: bold;
    color: white;
    text-decoration: none;
  }

  @mixin card{
    box-shadow: 8px 8px 8px 1px rgba(221, 221, 221, 1);
    border-radius: 10px;
  }