.summary{
&__pet {
    &__info {
      // @include card;
      // background-color: $primary;
      color: black;
      padding: 2rem;
      margin: 2rem 0;
    }
    &__summary {
      text-align: center;
      margin: 0;
      color: $primary;
    }
  }
}