.summary {
  &__title {
    color: $primary;
    // text-align: center
  }

  &__table {
    @include card;
    border-collapse: collapse;
    width: 100%;
    background-color: #f7f7f7;
    overflow: hidden;
  }
  &__details {
    text-align: left;
    border-bottom: 1px solid white;
    padding: 1.2rem;
  }
  &__category {
    padding: 1.2rem;
    text-align: left;
    background-color: $primary;
    color: white;
  }
}
